<% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>
<% if alert.present? %>
  <div class="alert">
    <%= alert %>
  </div>
<% end %>
<% if flash[:alert_error].present? %>
  <div class="alert alert-error">
    <%= alert_error %>
  </div>
<% end %>
<% if flash[:alert_info].present? %>
  <div class="alert alert-info">
    <%= alert_info %>
  </div>
<% end %>

